.body-table {
    /* border: 2px solid red; */
    padding: 6rem 2rem;
    /* background-color: #F9F8F8; */
    background-color: #e2d4ca;
    height: 2000px;
}

.header-table {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.link-home a {
    font-weight: 300;
    text-decoration: none;
    color: #001730;
}

.logo-table-employee {
    display: flex;
    justify-content: center;
}

.img-logo {
    /* border: 2px solid red; */
    width: 30%;
    filter: grayscale(20%) brightness(70%) contrast(105%);
}

.title-table {
    color: #3c480a;
}

.section-film-search {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 3rem 1rem;
}

.container-filter {
    /* border: 2px solid blue; */
    width: 30%;
}

.filter {
    /* border: 2px solid blue; */
    width: 45%;
    border-radius: 40px;
    background-color: #4e5e0d;
}

.filter:hover {
    background-color: #789115;
}


/* .search {
    border: 2px solid blue;
} */

#submitsearch {
    border: 1px solid rgb(138, 134, 134);
    margin-left: -82px;
    padding: 5px;
    border-radius: 19px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 4px;
    display: none;
    box-shadow: 0 0 1px black;
    margin-right: 110px;
    /* border: 2px solid blue; */
}

#searchInput {
    width: 100%;
    height: 50px;
    /* border: 1px solid #000; */
    border: 1px solid transparent;
    border-radius: 40px;
    font-size: 16px;
    background-color: #6e7b39;
    background-image: url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    outline: none;
    opacity: 0.9;
}

#searchInput:hover {
    background-color: #789115;
}

.table {
    border: 2px solid #c2ab9b;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}


/* Design du tableau */

table {
    /* border: 2px solid red; */
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    /* border-radius: 20px; */
}

tbody tr:nth-child(odd) {
    background-color: #ECE9E9;
    /* opacity: .5; */
    /* background-color: red;
    border-radius: 50px; */
}

th,
td {
    /* cell */
    padding: 0.75rem;
    font-size: 0.9375rem;
}

th {
    /* header cell */
    font-weight: 700;
    text-align: left;
    color: #3c480a;
    border-bottom: 2px solid #7e9711;
    position: sticky;
    top: 0;
    background-color: #F9F8F8;
}

td {
    /* body cell */
    color: #001730;
}

.navigation-table {
    /* border: 2px solid red; */
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.pages-entries {
    /* border: 2px solid red; */
    cursor: pointer;
    margin-left: 10px;
}

.previous-next {
    display: flex;
    /* border: 2px solid red; */
}

.previous {
    margin-right: 40px;
    cursor: pointer;
}

.next {
    cursor: pointer;
    margin-right: 10px;
}

.navigation-table p {
    font-weight: 300;
    color: #001730;
}


/* Media queries version MOBILE  */

@media screen and (max-width: 768px) {
    .table {
        /* border: 2px solid red; */
        width: 100%;
        overflow-x: scroll;
    }
    table {
        overflow-x: scroll;
    }
    .title-table {
        font-size: 12px;
    }
    .container-filter {
        /* border: 2px solid blue; */
        width: 110px;
    }
    .section-film-search {
        flex-direction: column;
    }
    .filter {
        /* border: 2px solid blue; */
        width: 100px;
        margin-bottom: 25px;
    }
    .navigation-table p {
        font-weight: 300;
        color: #001730;
        font-size: 10px;
    }
    .previous {
        margin-right: 10px;
        cursor: pointer;
    }
}