.section-film-search {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 3rem 1rem;
}

.container-filter {
    /* border: 2px solid blue; */
    width: 30%;
    display: flex;
}

.container-filter p {
    font-weight: 300;
    color: #001730;
    margin-left: 5px;
    margin-right: 5px;
}

.filter {
    /* border: 2px solid blue; */
    width: 45%;
    border-radius: 40px;
    background-color: #6e7b39;
}

.filter:hover {
    background-color: #789115;
}

.table {
    border: 2px solid #c2ab9b;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}


/* Design du tableau */

table {
    /* border: 2px solid red; */
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    /* border-radius: 20px; */
}

tbody tr:nth-child(odd) {
    background-color: #ECE9E9;
    /* opacity: .5; */
    /* background-color: red;
    border-radius: 50px; */
}

th,
td {
    /* cell */
    padding: 0.75rem;
    font-size: 0.9375rem;
}

th {
    /* header cell */
    font-weight: 700;
    text-align: left;
    color: #3c480a;
    border-bottom: 2px solid #7e9711;
    position: sticky;
    top: 0;
    background-color: #F9F8F8;
}

td {
    /* body cell */
    color: #001730;
}

.navigation-table {
    /* border: 2px solid red; */
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.pages-entries {
    /* border: 2px solid red; */
    cursor: pointer;
    margin-left: 10px;
}

.previous-next {
    display: flex;
    /* border: 2px solid red; */
}

.previous {
    margin-right: 40px;
    cursor: pointer;
}

.next {
    cursor: pointer;
    margin-right: 10px;
}

.navigation-table p {
    font-weight: 300;
    color: #001730;
}


/* Media queries version MOBILE  */

@media screen and (max-width: 768px) {
    .title-table {
        font-size: 12px;
    }
    .table {
        /* border: 2px solid red; */
        width: 100%;
        overflow-x: scroll;
    }
    table {
        overflow-x: scroll;
    }
    .container-filter {
        /* border: 2px solid blue; */
        width: 180px;
    }
    .section-film-search {
        flex-direction: column;
    }
    .filter {
        /* border: 2px solid blue; */
        width: 100px;
        margin-bottom: 25px;
    }
    .navigation-table p {
        font-weight: 300;
        color: #001730;
        font-size: 10px;
    }
    .previous {
        margin-right: 10px;
        cursor: pointer;
    }
}